main {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.page404 {
	font-size: 128pt;
	letter-spacing: 15px;
	font-weight: 1000;
	padding-bottom: 30px;
}

.page404-text {
	font-size: 18pt;
}