main {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

main h2 {
	font-size: 72pt;
	letter-spacing: 15px;
	font-weight: 1000;
	padding-bottom: 30px;
}

main div {
	font-size: 18pt;
}