<footer role='contentinfo'>
	<header>
		<div>
			<a href="/index.php" style="text-decoration: none; color: #000;">
				<h2>ServiceHub</h2>
			</a>
			<div class='faded-text'>By Matvey Kvasov</div>
		</div>
	</header>
	<article class='footer-links'>
		<section class='category-footer-link'>
			<ul class='ul-block-footer'>
				<header>
					<h3>меню</h3>
				</header>
				<li>
					<a href="/index.php" class="footer-link" id='main'>Основная</a>
				</li>
				<li>
					<a href="/about" class="footer-link" id='about-us'>О нас</a>
				</li>
				<li>
					<a href="/contacts" class="footer-link" id='contacts'>Контакты</a>
				</li>
				<li>
					<a href="/market" class="footer-link" id='market'>Продукты</a>
				</li>
				<li>
					<a href="/reviews" class="footer-link" id='review'>Отзывы</a>
				</li>
			</ul>
		</section>
		<section class='category-footer-link'>
			<ul class='ul-block-footer'>
				<header>
					<h3>категории</h3>
				</header>
				<li>
					<a href="/market" class="footer-link" id='market'>Маркет</a>
				</li>
				<li>
					<a href="/create-seller" class="footer-link" id='get-maker'>Стать продавцом</a>
				</li>
			</ul>
		</section>
		<section class='category-footer-link'>
			<ul class='ul-block-footer'>
				<header>
					<h3>помощь</h3>
				</header>
				<li>
					<a href="https://t.me/varyya777" class="footer-link" id='support-admin'>Связь с администратором</a>
				</li>
				<li>
					<a href="/contact-seller" class="footer-link" id='support-maker'>Связь с продавцом</a>
				</li>
			</ul>
		</section>
		<section class='category-footer-link'>
			<ul class='ul-block-footer'>
				<header>
					<h3>подписывайтесь</h3>
				</header>
				<li>
					<a href="https://github.com/nhassl3" class="footer-link" id='github'>GitHub</a>
				</li>
			</ul>
		</section>
	</article>
</footer>